*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #efefef;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 5rem;
  z-index: 50;
}

.nav__logo {
  position: absolute;
  top: 2.4rem;
  left: 5%;
  font-size: 2rem;
  color: #04d7ce;
}

.menu-wrap {
  position: absolute;
  top: 0;
  right: 2%;
  /* Menu */
  /* Show Menu */
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 7rem;
  height: 6rem;
  padding: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Hamburger Lines */
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #04d7ce;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before, .menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 15;
  top: -1rem;
  width: 100%;
  height: 3px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 1rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #040e19;
}

.menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #efefef;
  border-radius: 50%;
  width: 250vh;
  height: 250vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu .menu-item {
  list-style: none;
  color: #040e19;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
}

.menu-wrap .menu .menu-item a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.header {
  background-image: url(../assets/portfolio-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  border-bottom: 5px solid #04d7ce;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/portfolio-bg-2.svg");
  background-position: right;
  background-size: cover;
}

.header__container {
  width: 95%;
  max-width: 2000px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.header__main {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header__jumbotron {
  height: 400px;
  width: 800px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.header__display {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 8rem;
}

.header__lead {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
}

.poly {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 80%;
  max-height: 80%;
  z-index: -1;
}

.btn {
  text-decoration: none;
  border: 2px solid #04d7ce;
  color: #efefef;
  padding: 10px 50px;
  display: inline-block;
  margin: 2rem 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn a {
  color: inherit;
}

.btn:hover, .btn:focus {
  background-color: #04d7ce;
}

.upper {
  text-transform: uppercase;
}

.highlight {
  color: #04d7ce;
}

.work {
  height: 1000px;
  width: 100%;
  background-color: #000;
}

.about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, to-bottom, from(#dddddd), to(#fff));
  background: linear-gradient(to-bottom, #dddddd, #fff);
}

.about-description {
  height: 100%;
  background-color: #efefef;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-description__container {
  min-height: 40%;
  max-width: 60%;
}

.about-description__header {
  font-size: 6rem;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  color: #b4b4b4;
  line-height: 6rem;
  padding-bottom: 4rem;
}

.about-description__text {
  color: #040e19;
}

.about-image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image__container {
  position: relative;
  height: 800px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}

.about-image__container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dddddd;
  height: 100px;
}

.about-image__container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dddddd;
  height: 200px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.about-image__img {
  height: 90%;
  margin: auto;
  display: block;
}

.about-image__btn {
  position: absolute;
  bottom: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work {
  background-color: #b4b4b4;
  height: 100vh;
}

.work .container {
  display: block;
  width: 140rem;
  margin: auto;
  text-align: center;
}

.work__container {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__project {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  background-image: url("https://source.unsplash.com/random/500x500");
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  height: 350px;
  position: relative;
  cursor: pointer;
}

.work__project > div {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.work__project:hover > div,
.work__project:focus > div {
  opacity: 1;
  background-color: rgba(4, 14, 25, 0.9);
}

.work__header {
  color: #2c2c2c;
  font-size: 8rem;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.project__title {
  padding-top: 5rem;
  font-size: 3rem;
}

.project__description {
  padding: 1rem 3rem;
}

.project__logo-box {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem;
}

.project__logo {
  margin: 0 0.5rem;
  width: 40px;
}

.project__btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  height: 75vh;
  width: 100%;
  background-color: #040e19;
  overflow: hidden;
}

.block {
  display: block;
}

#the-flix-db {
  background-image: url("../assets/the-flix-db.png");
}

#btc-quiz {
  background-image: url("../assets/btc-quiz.png");
}

#to-do-app {
  background-image: url("../assets/to-do.jpg");
}
/*# sourceMappingURL=header.css.map */