*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #353535;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.4rem;
  padding-bottom: 2.4rem;
}

p {
  padding-bottom: 0.8rem;
}

.container-fluid {
  width: 100%;
  min-height: 100vh;
}

.container-m {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}

.container-s {
  max-width: 800px;
  width: 90%;
  margin: auto;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.fill-screen {
  height: 100vh;
}

.dark-theme {
  color: #fcfcfd;
  background-color: #353535;
}

.light-theme {
  color: #353535;
  background-color: #fcfcfd;
}

.p-b-lg {
  padding-bottom: 10rem;
}

.align-center {
  text-align: center;
}

.next-line {
  display: block;
  height: 0.8rem;
}

.btn {
  border: 1px solid #5c5c64;
  padding: 1rem 5rem;
  display: inline-block;
  color: #5c5c64;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #5c5c64;
  color: #fcfcfd;
}

.nav {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 5rem;
  width: 90%;
  max-width: 2400px;
  margin: auto;
}

.nav__logo {
  font-size: 1.8rem;
}

.nav__links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__link {
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__link::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #353535;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__link:hover::after, .nav__link:focus::after {
  width: 100%;
}

.menu-wrap {
  position: relative;
  display: none;
  /* Menu */
  /* Show Menu */
}

.menu-wrap .toggler {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Hamburger Lines */
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #353535;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before, .menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 15;
  top: -1rem;
  width: 100%;
  height: inherit;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 1rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #353535;
}

.menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #fcfcfd;
  border-radius: 50%;
  width: 250vh;
  height: 250vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu .menu-item {
  list-style: none;
  color: #353535;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
}

.menu-wrap .menu .menu-item a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.landing__container {
  width: 800px;
  text-align: center;
}

.landing__display {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #e7e7ee;
  line-height: 22rem;
  padding: 2rem 0;
  -webkit-animation: fadeDown 1.2s ease-in-out;
          animation: fadeDown 1.2s ease-in-out;
}

@-webkit-keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    color: rgba(246, 246, 250, 0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #f6f6fa;
  }
}

@keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    color: rgba(246, 246, 250, 0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #f6f6fa;
  }
}

.landing__lead {
  padding-bottom: 4rem;
}

.landing__btn {
  -webkit-animation: fadeIn 1.2s ease-in-out;
          animation: fadeIn 1.2s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  padding: 15rem 0 5rem 0;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.header__title {
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #353535;
  font-weight: 400;
  padding-bottom: 3rem;
}

.header__sub {
  font-size: 1.6rem;
  color: #353535;
  padding-bottom: 3rem;
}

.work {
  padding-top: 5rem;
}

.work__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-auto-rows: minmax(400px, auto);
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.project__image {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.project__image > div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project__content {
  padding: 1.2rem 0;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}

.project__title {
  display: inline-block;
  font-weight: 400;
}

.project__tags {
  display: inline-block;
  list-style: none;
  padding-left: 1rem;
}

.project__tags li {
  display: inline-block;
  color: #5c5c64;
  padding-left: 0.5rem;
}

.project:hover .project__image > div {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#flix > div {
  background-image: url("../assets/theflixdb-main.png");
}

#todo > div {
  background-image: url("../assets/to-do.png");
}

#btc-quiz > div {
  background-image: url("../assets/btc-quiz.png");
}

.project-section {
  background-color: #f6f6fa;
  width: 100%;
  min-height: 50rem;
}

.project-section__img-container {
  width: 80%;
  margin: auto;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  padding-bottom: 10rem;
  max-width: 100rem;
}

.project-section__img {
  margin: auto;
  max-width: 100%;
  display: block;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-auto-rows: minmax(200px, auto);
}

.grid__item {
  height: 100%;
  width: 100%;
}

.grid__item--c2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.web-stack {
  padding: 5rem;
}

.web-stack img {
  height: 5rem;
  margin: 0 1rem;
}

.about-desc {
  width: 80%;
  margin: auto;
}

.about-img {
  max-width: 40rem;
  width: 90%;
  border-radius: 50rem;
  margin: auto;
  display: block;
}

.about-img__container {
  padding: 5rem 0 10rem 0;
}

.footer {
  height: 6rem;
}

.footer__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 2400px;
  margin: auto;
}

.footer__logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social img {
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;
}

.footer__social img:hover {
  opacity: 0.8;
}

.footer__tm {
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  width: 12.5rem;
}

@media all and (max-width: 756px) {
  .landing {
    font-size: inherit;
  }
  .landing__display {
    font-size: 10rem;
    line-height: 8rem;
  }
  .landing__lead {
    padding-bottom: 3rem;
  }
  .nav {
    position: fixed;
    background-color: rgba(252, 252, 253, 0.95);
    padding-bottom: 1rem;
  }
  .nav__links {
    display: none;
  }
  .menu-wrap {
    display: block;
  }
  .work__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */