/* Colors:
Background Color (Light gray): #efefef;
Dark Color (Dark Gray): #161616;
Primary Color (Pink): #AF247D;
Secondary Color (Blue): #034368;
Medium Gray #;
*/
:root {
    /* Colors */
    --primary-color: #AF247D;
    --secondary-color: #034368;
    --light-gray: #efefef;
    --medium-gray: #9F9F9F;
    --dark-gray: #161616;
    /* Fonts */
    --font-heading: "Rubik", sans-serif;
    --font-normal: "Karla", sans-serif;
    --font-size-normal: 1.6rem;
    --font-weight-normal: 400;
    --font-weight-heading: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    font-size: var(--font-size-normal);
    font-family: var(--font-normal);
    font-weight: var(--font-weight-normal);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 6rem;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: var(--font-size-normal);
    line-height: 1.2;
    padding-bottom: 1rem;
}

a:link {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

a:hover,
a:focus {
    opacity: 0.8;
}

a:visited {
    color: var(--medium-gray);
}

img {
    border-radius: 0.5rem;
}

.page-header {
    padding: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.page-header__item {
    flex: 0 1 auto;
    height: 7rem;
}

.page-header__logo {
    height: 100%;
}

/* Navbar */

.nav-main {
    text-transform: uppercase;
    text-align: right;
}

.nav-main__menu {
    margin-top: 3.5rem;
}

.nav-main__item {
    display: inline-block;
}

a.nav-main__link {
    font-family: var(--font-heading);
    font-size: var(--font-size-normal);
    padding: 1.5rem 0;
    color: var(--dark-gray);
    margin-left: 3rem;
}

a.nav-main__link:hover,
a.nav-main__link:focus {
    opacity: .8;
}

a.nav-main__link:visited {
    color: inherit;
}

a.nav-main__link--active {
    text-decoration: underline;
}

.landing-header {
    height: 20vh;
}

.middle {
    height: 60vh;
}

.py-50 {
    padding: 5rem 0;
}

/* Landing Section */

.landing {
    min-width: 36rem;
    max-width: 120rem;
    margin: auto;
    min-height: 50rem;
    overflow: hidden;
}

.landing-img-container {
    float: left;
    width: 50%;
    overflow: auto;
    padding: 5rem 3rem;
}

.landing__img {
    max-width: 40rem;
    width: 100%;
    border-radius: 50%;
    float: right;
}

.landing-content {
    float: left;
    padding: 0 3rem;
    width: 50%;
}

.landing__heading--primary {
    margin-top: 15rem;
}

.center-text {
    text-align: center;
}

.svg-container {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

/* Buttons and Link Buttons */

.btn,
.btn:link,
.btn:visited {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    font-size: 1.4rem;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: var(--light-gray);
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    transition: opacity .2s;
}

.btn:active {
    outline: none;
}

.btn:hover,
.btn:focus {
    opacity: .8;
}

.btn__primary {
    background-color: var(--primary-color);
}

.btn__secondary {
    background-color: var(--secondary-color);
}

.footer__img:hover {
    opacity: .8;
}

.page-footer {
    clear: both;
    height: 20vh;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}


/* Grid Fallback */

.project-list__item {
    display: inline-block;
    width: 33%;
}

/* Grid CSS */

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    margin-bottom: 10rem;
}

.project-list__item {
    background-color: var(--medium-gray);
    padding: 1rem;
    min-height:30rem;
    width: auto;
}

.project-list__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

@media all and (max-width: 700px) {

    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

}

@media all and (max-width: 500px) {
    
    .page-header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    
    .project-list {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    
    .nav-main {
        text-transform: uppercase;
        text-align: center;
    }
    
    .nav-main__menu {
        margin-top: .5rem;
    }
    
    a.nav-main__link {
        margin: 0 .5rem;;
    }

    .middle {
        height: auto;
    }

    .landing-img-container {
        width: 80%;
        display: block;
        margin: 0 auto;
        float: none;
    }

    .landing__heading--primary {
        margin-top: 0;
    }

    .landing-content {
        float: none;
        padding: 0;
        width: 90%;
        margin: 2rem auto;
    }

}

@media all and (min-width:500px) and (max-width:750px) {

    .project-list {
        grid-template-columns: 1fr 1fr;
    }

}

@keyframes map-anim {
    0% {
        fill: #bd9fb2;
    }

    80% {
        fill: var(--primary-color);
    }

    100% {
        fill: #bd9fb2;
    }
}

.st1 {
    animation: 4s map-anim infinite;
}