// Variables

// Colors
$color-dark: #353535;
$color-off-dark: #3f3f3f;
$color-white: #fcfcfd;
$color-off-white: rgb(246, 246, 250);
$color-gray-l: rgb(231, 231, 238);
$color-gray-m: rgb(92, 92, 100);

// Fonts
$font-head: 'Roboto Condensed', sans-serif;
$font-main: 'Roboto', sans-serif;

// Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $font-main;
  line-height: 1.4;
  color: $color-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

// Typography

h3 {
  font-family: $font-head;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.4rem;
  padding-bottom: 2.4rem;
}

p {
  padding-bottom: 0.8rem;
}

// Utilities

// All containers
.container {
  &-fluid {
    width: 100%;
    min-height: 100vh;
  }

  &-m {
    max-width: 1400px;
    width: 90%;
    margin: auto;
  }

  &-s {
    max-width: 800px;
    width: 90%;
    margin: auto;
  }
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.fill-screen {
  height: 100vh;
}

.dark-theme {
  color: $color-white;
  background-color: $color-dark;
}

.light-theme {
  color: $color-dark;
  background-color: $color-white;
}

.p-b-lg {
  padding-bottom: 10rem;
}

.align-center {
  text-align: center;
}

.next-line {
  display: block;
  height: 0.8rem;
}

// Components

.btn {
  border: 1px solid $color-gray-m;
  padding: 1rem 5rem;
  display: inline-block;
  color: $color-gray-m;
  transition: all 0.3s ease;
  font-family: $font-head;
  border-radius: 2px;
  margin-bottom: 1rem;

  &:hover {
    background-color: $color-gray-m;
    color: $color-white;
  }
}

// Navbar

.nav {
  font-family: $font-head;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 5rem;
    width: 90%;
    max-width: 2400px;
    margin: auto;
  }

  &__logo {
    font-size: 1.8rem;
  }

  &__links {
    height: 100%;
    // background-color: orangered;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__link {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 0%;
      bottom: 0;
      left: 0;
      background-color: $color-dark;
      transition: all 0.3s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

// menu
.menu-wrap {
  position: relative;
  display: none;

  & .toggler {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    opacity: 0;
  }

  & .hamburger {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Hamburger Lines */
    & > div {
      position: relative;
      width: 100%;
      height: 3px;
      background-color: $color-dark;
      transition: all 0.4s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 15;
        top: -1rem;
        width: 100%;
        height: inherit;
        background: inherit;
      }

      &::after {
        top: 1rem;
      }
    }
  }

  & .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: $color-dark;

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  & .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Menu */
  & .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      background: $color-white;
      border-radius: 50%;
      width: 250vh;
      height: 250vh;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;

      & > div {
        text-align: center;
        max-width: 90vh;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
      }
    }

    .menu-item {
      list-style: none;
      color: $color-dark;
      font-family: $font-head;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1rem;

      & a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
      }
    }
  }

  /* Show Menu */
  .toggler:checked ~ .menu {
    visibility: visible;

    & > div {
      transform: scale(1);
      transition-duration: 0.3s;

      & > div {
        opacity: 1;
        transition: opacity 0.4s ease;
      }
    }
  }
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;

  &__container {
    width: 800px;
    text-align: center;
  }

  &__display {
    font-family: $font-head;
    font-size: 20rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-gray-l;
    line-height: 22rem;
    padding: 2rem 0;
    animation: fadeDown 1.2s ease-in-out;

    @keyframes fadeDown {
      0% {
        transform: translateY(-400px);
        color: rgba($color-off-white, 0);
      }
      100% {
        transform: translateY(0);
        color: rgba($color-off-white, 1);
      }
    }
  }

  &__lead {
    padding-bottom: 4rem;
  }

  &__btn {
    // border: 1px solid $color-dark;
    // padding: 0.5rem 2rem;
    animation: fadeIn 1.2s ease-in-out;
    // transition: all 0.3s ease;

    // &:hover,
    // &:focus {
    //   background-color: $color-dark;
    //   color: $color-white;
    // }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.header {
  padding: 15rem 0 5rem 0;
  text-align: center;
  max-width: 800px;
  margin: auto;
  &__title {
    font-size: 4rem;
    font-family: $font-head;
    color: $color-dark;
    font-weight: 400;
    padding-bottom: 3rem;
  }
  &__sub {
    font-size: 1.6rem;
    color: $color-dark;
    padding-bottom: 3rem;
  }
}

.work {
  padding-top: 5rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-auto-rows: minmax(400px, auto);
  }
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 90%;
    overflow: hidden;

    // Zoom effect
    & > div {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      border-radius: 2px;
      transition: all 0.5s ease;
    }
  }

  &__content {
    padding: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: $font-head;
  }

  &__title {
    display: inline-block;
    font-weight: 400;
  }

  &__tags {
    display: inline-block;
    list-style: none;
    padding-left: 1rem;

    & li {
      display: inline-block;
      color: $color-gray-m;
      padding-left: 0.5rem;
    }
  }

  &:hover &__image > div {
    transform: scale(1.05);
  }
}

#flix > div {
  background-image: url('../assets/theflixdb-main.png');
}

#todo > div {
  background-image: url('../assets/to-do.png');
}

#btc-quiz > div {
  background-image: url('../assets/btc-quiz.png');
}

.project-section {
  background-color: $color-off-white;
  width: 100%;
  min-height: 50rem;

  &__img-container {
    width: 80%;
    margin: auto;
    transform: translateY(-5rem);
    padding-bottom: 10rem;
    max-width: 100rem;
  }

  &__img {
    margin: auto;
    max-width: 100%;
    display: block;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-auto-rows: minmax(200px, auto);
}

.grid__item {
  height: 100%;
  width: 100%;
}

.grid__item--c2 {
  grid-column-end: span 2;
}

.align-self-center {
  align-self: center;
}

.web-stack {
  padding: 5rem;
  & img {
    height: 5rem;
    margin: 0 1rem;
  }
}

.about-desc {
  width: 80%;
  margin: auto;
}

.about-img {
  max-width: 40rem;
  width: 90%;
  border-radius: 50rem;
  margin: auto;
  display: block;

  &__container {
    padding: 5rem 0 10rem 0;
  }
}

.footer {
  height: 6rem;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 2400px;
    margin: auto;
  }

  &__logo {
    font-family: $font-head;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__social {
    display: flex;
    width: 12.5rem;
    justify-content: flex-end;

    & img {
      height: 3rem;
      width: 3rem;
      margin-right: 1.5rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__tm {
    font-size: 1.4rem;
    font-family: $font-head;
    font-weight: 300;
    width: 12.5rem;
  }
}

// Responsive
@media all and (max-width: 756px) {
  .landing {
    font-size: inherit;
    &__display {
      font-size: 10rem;
      line-height: 8rem;
    }

    &__lead {
      padding-bottom: 3rem;
    }
  }

  .nav {
    position: fixed;
    background-color: rgba($color-white, 0.95);
    padding-bottom: 1rem;

    &__links {
      display: none;
    }
  }

  .menu-wrap {
    display: block;
  }

  .work {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
}
